<%= form_for [@school, @classroom] do |f| %>

	<div class="row">
		<div class="input-field col s6 offset-s3">
			<%= f.label :name, class: 'white-text' %>
			<%= f.text_field :name, class: 'brown-text text-darken-4' %>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s6 offset-s3">
			<%= f.label :size, class: 'white-text' %>
			<%= f.number_field :size, class: 'brown-text text-darken-4' %>
		</div>
	</div>

	<%= f.submit nil, class: "submit-classroom-btn btn" %>

<% end %>