<h1 class='school-header'>Schools</h1>
<hr />

<% if @schools.any? %>
  <div class='row'>
    <% @schools.each do |school| %>
      <div class="col s12 m6">
       <div class="card black">
         <div class="card-content white-text">
           <span class="card-title"><%= school.name %></span>
         </div>
         <div class="card-action">
           <%= link_to 'More info', school_path(school), class: 'btn' %>
           <%= link_to 'Edit', edit_school_path(school), class: 'school-edit btn' %>
           <!-- TODO Find out why the delete makes the id a . instead of a / -->
           <%= link_to 'Delete', schools_path(@school), method: :delete, class: 'delete-school-btn btn' %>
         </div>
       </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h3 class='no-school-msg'>There Is No School, Go make one!</h3>
<% end %>

<%= link_to 'New School', new_school_path, class: 'new-school-btn btn' %>